.card-item {
  background-color: var(--color-medium);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  height: 100%;
}

.card-item:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.card-info {
  flex-grow: 1;
  margin-bottom: 1rem;
  width: 100%;
}

.card-name {
  color: var(--color-white);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  min-height: 40px;
}

.card-type,
.card-attribute {
  color: var(--color-gray);
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.card-price {
  color: #34ac40;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.8rem;
}

.buy-button {
  background-color: #34ac40;
  color: var(--color-white);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buy-button:hover {
  background-color: #34ac40;
}
